<section class="middle py-medium py-md-small">
  <div class="container">
    <div class="product-blocks">
      {%- for product in collection.products -%}
        {%- render 'product-block', product: product -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Store — Grid",
  "settings": [],
  "presets": [
    {
      "name": "Store — Grid"
    }
  ]
}
{% endschema %}
