@use '../variables' as *;

form {
    &.is-sending {
        pointer-events: none;

        button[type='submit'] {
            .button__text {
                opacity: 0;
            }

            .button__loading {
                opacity: 1;
            }
        }
    }

    .line-wrapper {
        position: relative;

        input,
        select {
            background-color: transparent;
            color: currentColor;
            border: 1px solid currentColor;
            padding: 1.25rem;
            width: 100%;
        }
    }
}

.form-line {
    position: relative;
    display: block;
    margin-bottom: 1rem;

    &.error {
        .label {
            color: $red;
        }

        .line-wrapper {
            .input {
                border-color: $red;
            }

            .upload-wrapper {
                .hollow-button {
                    color: $red;
                    border-color: $red;

                    &:hover,
                    &:focus-visible {
                        border-color: $black;
                        color: $white;
                    }
                }
            }
        }

        label.error {
            position: absolute;
            z-index: 2;
            bottom: -.5rem;
            right: .75rem;
            color: $white;
            background-color: $red;
            font-size: .575rem;
            line-height: 1;
            padding: .25rem .375rem;
            border-radius: .125rem;
        }
    }

    .label {
        display: block;
        font-size: .85rem;
        margin-bottom: .25rem;

        span {
            color: $red;
        }
    }

    .line-wrapper {
        position: relative;
        display: block;

        .input {
            display: block;
            width: 100%;
            background-color: $white;
            border: 1px solid $gray-light;
            padding: .5rem .75rem;
            line-height: 1;
            border-radius: .25rem;

            &:-webkit-autofill,
            &:-webkit-autofill:active,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:hover {
                -webkit-box-shadow: 0 0 50rem rgba(255, 255, 255, 0) inset!important;
                background-color: transparent!important;
                background-clip: text;
                -webkit-text-fill-color: $black!important;
                border-color: $gray-light;
                -webkit-animation: autofill 0s forwards;
                animation: autofill 0s forwards;
                font-size: inherit;
            }

            &.select {
                cursor: pointer;
                padding: .72rem .75rem;
            }

            &.textarea {
                min-height: 9rem;
                height: 9rem;
                resize: vertical;

                @media #{$mq-lg-min} {
                    min-height: 5rem;
                    height: 18vh;
                }
            }

            &[type='number'] {
                appearance: none;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        .buttons {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 1.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;

            button {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .5rem;
                text-align: center;
                border-left: 1px solid $gray-light;
                color: $gray-medium;
                line-height: 50%;
                cursor: pointer;

                &:hover {
                    background-color: $black;
                    color: $white;
                }

                &:first-child {
                    border-bottom: 1px solid $gray-light;
                    border-top-right-radius: .25rem;
                }

                &:last-child {
                    border-bottom-right-radius: .25rem;
                }
            }
        }
    }

    input[type='submit'] {
        display: none;
    }
}

.form-validate {
    &.sending {
        .submit {
            pointer-events: none;
            opacity: .5;

            span {
                &:not(.loader) {
                    opacity: 0;
                }

                &.loader {
                    opacity: 1;

                    svg {
                        animation: rotation 1s infinite linear;
                    }
                }
            }
        }
    }
}