@use '../variables' as *;

.accordion {
	position: relative;
	margin-block-end: 1rem;

	&:has(.question.active) {
		.question {
			svg {
				transform: rotate(180deg);
			}
		}
		.answer {
			grid-template-rows: 1fr;

			> div {
				visibility: visible;
				opacity: 1;
				overflow: visible;
			}
		}
	}

	.question {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 1rem;
		padding: .5rem 0;
		cursor: pointer;
		transition: .2s ease-in-out;
		text-align: left;
		border-bottom: 1px solid $black;
		font-weight: $medium;

		svg {
			display: block;
			width: 1.25rem;
			height: 1.25rem;
			transition: .2s ease-in-out;
		}
	}

	.answer {
		position: relative;
		overflow: hidden;
		display: grid;
		grid-template-rows: 0fr;
		transition: .2s ease-in-out;

		> div {
			min-height: 0;
			transition: .2s ease-in-out;
			visibility: hidden;
			opacity: 0;
			overflow: hidden;

			> div {
				padding: 1rem .25rem;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				gap: var(--smallest);
				font-size: .9em;
			}
		}
	}
}