@use '../variables' as *;

.exhibit-block {
	position: relative;
	overflow: hidden;
	background-color: $white;
	border-radius: .5rem;
	aspect-ratio: 1;
	display: flex;
	width: 100%;
	padding: 1rem 1.25rem;
	outline: .125rem solid transparent;
	transition: .3s ease-in-out;

	&:hover,
	&:focus-visible {
		&:not(.exhibit-block--text) {
			outline-color: $gray-lighter;
		}

		.cover {
			transform: scale(1);
		}
	}

	&--text {
		align-items: flex-end;
		padding: 0;

		p {
			span {
				color: $green;
			}
		}
	}

	&.hide-mobile {
		@media #{$mq-sm-max} {
			display: none;
		}
	}

	&.hide-tablet {
		@media #{$mq-lg-max} {
			display: none;
		}
	}

	.cover {
		transform: scale(1.1);
		transition: .3s ease-in-out;
	}

	.infos {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;

		.title {

		}

		.artist {
			display: block;
			margin-top: -.125rem;
		}
	}

	.year {
		position: absolute;
		z-index: 2;
		bottom: .5rem;
		right: 1rem;
	}
}