@use '../variables' as *;

#fs-menu {
    position: fixed;
    z-index: 98;
    top: 0;
    right: 0;
    height: 100dvh;
    background-color: $black;
    color: $white;
    width: 30rem;
    max-width: 100%;
    transform: translateX(110%);
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        background: $black;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $gray-dark;
        border-radius: 0;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: $gray-light;
    }

    .wrapper {
        padding: 1.5rem 1rem 1rem 1rem;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $white;
        }

        .middle {
            padding-top: 2rem;

            .menu {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                @media #{$mq-sm-max} {
                    font-size: 3.5rem;
                    gap: .325rem;
                }
                
                a,
                button {
                    text-transform: uppercase;
                    font-weight: $bold;
                    transition: .2s ease-in-out;

                    &:hover,
                    &.active {
                        color: $green;
                    }
                }
            }
        }
    }
}

.blur-everything {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(.5rem);
    opacity: 0;
    background-color: transparentize($black, .75);
}