@use '../variables' as *;

.newsletter-section {
	overflow: hidden;

	.desc {
		width: 45rem;
		max-width: 100%;
	}

	.content {
		form {
			@media #{$mq-sm-min} {
				display: flex;
				gap: .5rem;
			}

			.line-wrapper {
				width: 100%;
				margin-bottom: .5rem;

				@media #{$mq-sm-min} {
					width: 25rem;
					margin-bottom: 0;
				}
			}

			.button {
				justify-content: center;
			}
		}
	}
}