@use '../variables' as *;

.rich-text {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	p {
		@media #{$mq-md-min} {
			@include text-20;
			line-height: 1.8;
		}
	}

	ul {
		position: relative;
		padding-left: 0.5rem;

		li {
			display: block;
			position: relative;
			padding-left: 0.75rem;
			margin-bottom: 0.25rem;
			font-size: 1rem;

			&:before {
				content: '\2219';
				position: absolute;
				left: 0;
			}
		}
	}

	h1,
	h2 {
		@include text-35;
	}

	h3 {
		@include text-30;
	}

	h4,
	h5,
	h6 {
		@include text-25;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $bold;

		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	a {
		text-decoration: underline;
		transition: 0.2s ease-in-out;

		&:hover,
		&:focus-visible {
			opacity: 0.7;
		}
	}

	blockquote {
		display: block;
		width: 100%;
		background-color: $gray-lighter;
		color: $gray-medium;
		border-radius: .25rem;
		padding: 2rem;
		margin: 0;
		@include text-20;

		@media #{$mq-md-min} {
			padding: 3rem;
			border-radius: .5rem;
			@include text-25;
			font-weight: $bold;
			line-height: 1.8;
		}

		&:before,
		&:after {
			content: '"';
		}
	}
}
