@use '../variables' as *;

.rich-text {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	p {
		@media #{$mq-md-min} {
			@include text-20;
			line-height: 1.8;
		}
	}

	ul {
		position: relative;
		padding-left: 0.5rem;

		li {
			display: block;
			position: relative;
			padding-left: 0.75rem;
			margin-bottom: 0.25rem;
			font-size: 1rem;

			&:before {
				content: '\2219';
				position: absolute;
				left: 0;
			}
		}
	}

	h1,
	h2 {
		@include text-40;
	}

	h3 {
		@include text-32;
	}

	h4,
	h5,
	h6 {
		@include text-24;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $bold;

		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	a {
		text-decoration: underline;
		transition: 0.2s ease-in-out;

		&:hover,
		&:focus-visible {
			opacity: 0.7;
		}
	}
}
