@use '../variables' as *;

.sponsors-section {
	overflow: hidden;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: .5rem;

        @media #{$mq-sm-min} {
            flex-direction: row;
            gap: 1rem;
        }

        h2 {

        }

        p {

        }
    }

    .sponsors-marquee {
        display: flex;
    }

    .sponsor-block {
        width: calc(100% / 2);
        margin-left: .5rem;

        @media #{$mq-xs-min} {
            width: calc(100% / 3);
        }

        @media #{$mq-sm-min} {
            width: calc(100% / 4);
            margin-left: .75rem;
        }

        @media #{$mq-md-min} {
            width: calc(100% / 5);
        }

        @media #{$mq-lg-min} {
            width: calc(100% / 6);
            margin-left: 1rem;
        }

        @media #{$mq-xl-min} {
            width: calc(100% / 7);
        }
    }
}