@use '../variables' as *;

.top-menu {
	position: sticky;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	transition: transform .6s ease-in-out;

	.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			display: flex;
			width: 3.5rem;

			@media #{$mq-lg-min} {
				width: 4rem;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.menu {
			display: none;
			gap: 3rem;

			@media #{$mq-lg-min} {
				display: flex;
			}

			a {
				display: block;
				transition: .3s ease-in-out;

				&.active,
				&:hover {
					color: $green;
				}
			}
		}

		.right {
			.side-icons {
				display: flex;
				gap: .75rem;

				@media #{$mq-md-min} {
					gap: 1rem;
				}

				a,
				button {
					position: relative;
					display: flex;
					width: 1.5rem;
					min-width: 1.5rem;
					height: 1.5rem;
					padding: .2rem;
					color: $black;
					transition: .3s ease-in-out;

					&:hover {
						color: $green;
					}

					img,
					svg {
						width: 100%;
						height: 100%;
					}
				}

				.open-cart {
					svg {
						stroke-width: .095rem;
					}
				}

				.open-fs {
					@media #{$mq-lg-min} {
						display: none;
					}
				}
			}
		}
	}
}

body.scrolling-down {
	.top-menu {
		&.invisible {
			transform: translateY(-150%);
		}
	}
}

body.scrolling-up {
	.top-menu {
		transform: translateY(0);
	}
}