@use '../variables/breakpoints.scss' as *;

@mixin text-95 {
	font-size: 2.75rem;
	line-height: 1.1;

	@media #{$mq-xs-min} {
		font-size: 3.25rem;
	}

	@media #{$mq-sm-min} {
		font-size: 3.5rem;
		line-height: 1;
	}

	@media #{$mq-md-min} {
		font-size: 3.75rem;
	}

	@media #{$mq-lg-min} {
		font-size: 4rem;
	}

	@media #{$mq-xl-min} {
		font-size: 4.25rem;
	}

	@media #{$mq-2xl-min} {
		font-size: 4.5rem;
	}

	@media #{$mq-3xl-min} {
		font-size: 4.75rem;
	}
}

@mixin text-80 {
	font-size: 2.25rem;
	line-height: 1.2;

	@media #{$mq-xs-min} {
		font-size: 2.75rem;
	}

	@media #{$mq-sm-min} {
		font-size: 3rem;
		line-height: 1.1;
	}

	@media #{$mq-md-min} {
		font-size: 3.25rem;
	}

	@media #{$mq-lg-min} {
		font-size: 3.5rem;
	}

	@media #{$mq-xl-min} {
		font-size: 3.75rem;
		line-height: 1;
	}

	@media #{$mq-2xl-min} {
		font-size: 4rem;
	}
}

@mixin text-65 {
	font-size: 2rem;
	line-height: 1.3;

	@media #{$mq-sm-min} {
		font-size: 2.25rem;
		line-height: 1.2;
	}

	@media #{$mq-md-min} {
		font-size: 2.5rem;
	}

	@media #{$mq-xl-min} {
		font-size: 2.75rem;
		line-height: 1.1;
	}

	@media #{$mq-2xl-min} {
		font-size: 3rem;
	}
}

@mixin text-45 {
	font-size: 1.5rem;
	line-height: 1.4;

	@media #{$mq-md-min} {
		font-size: 1.75rem;
		line-height: 1.3;
	}

	@media #{$mq-lg-min} {
		font-size: 2rem;
	}

	@media #{$mq-xl-min} {
		font-size: 2.25rem;
		line-height: 1.2;
	}
}

@mixin text-35 {
	font-size: 1.25rem;
	line-height: 1.4;

	@media #{$mq-md-min} {
		font-size: 1.5rem;
	}

	@media #{$mq-lg-min} {
		font-size: 1.75rem;
		line-height: 1.3;
	}
}

@mixin text-30 {
	font-size: 1.2rem;
	line-height: 1.4;

	@media #{$mq-md-min} {
		font-size: 1.25rem;
	}

	@media #{$mq-lg-min} {
		font-size: 1.5rem;
	}
}

@mixin text-25 {
	font-size: 1.1rem;

	@media #{$mq-md-min} {
		font-size: 1.25rem;
		line-height: 1.5;
	}
}

@mixin text-20 {
	font-size: 1rem;
}

@mixin text-18 {
	font-size: .9rem;
}

@mixin text-16 {
	font-size: .8rem;
}

@mixin text-14 {
	font-size: .7rem;
}

@mixin text-12 {
	font-size: .6rem;
}