@use '../variables/breakpoints.scss' as *;

@mixin text-100 {
	font-size: 3rem;
	line-height: 1;

	@media #{$mq-xs-min} {
		font-size: 3.5rem;
	}

	@media #{$mq-sm-min} {
		font-size: 4rem;
	}

	@media #{$mq-md-min} {
		font-size: 4.5rem;
	}

	@media #{$mq-lg-min} {
		font-size: 5rem;
		line-height: .9;
	}

	@media #{$mq-xl-min} {
		font-size: 5.5rem;
	}

	@media #{$mq-2xl-min} {
		font-size: 6rem;
	}

	@media #{$mq-3xl-min} {
		font-size: 6.25rem;
	}
}

@mixin text-80 {
	font-size: 2.5rem;
	line-height: 1.2;

	@media #{$mq-xs-min} {
		font-size: 2.75rem;
	}

	@media #{$mq-sm-min} {
		font-size: 3rem;
		line-height: 1;
	}

	@media #{$mq-md-min} {
		font-size: 3.5rem;
	}

	@media #{$mq-lg-min} {
		font-size: 4rem;
	}

	@media #{$mq-xl-min} {
		font-size: 4.5rem;
	}

	@media #{$mq-2xl-min} {
		font-size: 5rem;
		line-height: .9;
	}
}

@mixin text-60 {
	font-size: 2.25rem;
	line-height: 1.3;

	@media #{$mq-sm-min} {
		font-size: 2.5rem;
		line-height: 1.2;
	}

	@media #{$mq-md-min} {
		font-size: 3rem;
		line-height: 1;
	}

	@media #{$mq-xl-min} {
		font-size: 3.5rem;
	}

	@media #{$mq-2xl-min} {
		font-size: 3.75rem;
	}
}

@mixin text-40 {
	font-size: 1.75rem;
	line-height: 1.4;

	@media #{$mq-md-min} {
		font-size: 2rem;
		line-height: 1.3;
	}

	@media #{$mq-lg-min} {
		font-size: 2.25rem;
	}

	@media #{$mq-xl-min} {
		font-size: 2.5rem;
		line-height: 1.2;
	}
}

@mixin text-32 {
	font-size: 1.5rem;
	line-height: 1.4;

	@media #{$mq-md-min} {
		font-size: 1.75rem;
	}

	@media #{$mq-lg-min} {
		font-size: 2rem;
		line-height: 1.3;
	}
}

@mixin text-24 {
	font-size: 1.25rem;
	line-height: 1.5;

	@media #{$mq-md-min} {
		font-size: 1.5rem;
		line-height: 1.4;
	}
}

@mixin text-20 {
	font-size: 1rem;

	@media #{$mq-md-min} {
		font-size: 1.25rem;
		line-height: 1.5;
	}
}

@mixin text-16 {
	font-size: 1rem;
}

@mixin text-14 {
	font-size: .875rem;
}

@mixin text-12 {
	font-size: .75rem;
}