@use '../variables' as *;

.footer {
	overflow: hidden;

	@media #{$mq-sm-max} {
		text-align: center;
		padding-block: 1rem;
	}

	.flex {
		@media #{$mq-sm-min} {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
		}

		.left {
			@media #{$mq-sm-min} {
				display: flex;
				align-items: center;
				gap: 2rem;
			}

			.logo {
				display: flex;
				width: 3rem;

				@media #{$mq-md-min} {
					width: 3.5rem;
				}

				@media #{$mq-sm-max} {
					margin-inline: auto;
				}

				img {
					width: 100%;
				}
			}

			ul {
				display: flex;
				gap: 1rem;

				@media #{$mq-sm-max} {
					justify-content: center;
					margin-block: 1.5rem 1rem;
				}
			}
		}

		.right {
			
		}
	}
}