@use '../variables' as *;

#main-content {
    .banner-404 {
        overflow: hidden;

        .footprint {
            position: absolute;
            z-index: 0;
            top: -5%;
            left: 60%;
            width: auto;
            object-fit: contain;
            height: 120%;

            @media #{$mq-lg-min} {
                left: 50%;
            }

            @media #{$mq-sm-max} {
                display: none;
            }
        }
    }

    .related-404 {
        .top {
            @media #{$mq-lg-min} {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
            }

            h2 {

            }

            p {

            }
        }

        .grid {
            display: grid;
            gap: .25rem;

            @media #{$mq-md-min} {
                grid-template-columns: repeat(2, 1fr);
            }

            @media #{$mq-xl-min} {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}