@use '../variables' as *;

#main-content {
    &.contact {
        .banner {

        }

        .middle {
            .desc {
                @media #{$mq-lg-min} {
                    width: 90%;
                }
            }

            .box {
                @media #{$mq-md-max} {
                    margin-block: var(--small) var(--big);
                }

                .row {
                    > div {
                        &:nth-child(even) {
                            @media #{$mq-xl-min} {
                                padding-left: .5rem;
                            }
                        }

                        &:nth-child(odd) {
                            @media #{$mq-xl-min} {
                                padding-right: .5rem;
                            }
                        }
                    }
                }

                .input {
                    background-color: $pure-white;
                }
            }
        }

        .faq-section {
            background-color: $pure-white;
        }
    }
}