@use '../variables' as *;

#main-content {
    &.exhibit {
        background-color: $hard-white;

        .main-content {
            overflow: hidden;

            .left-side {
                min-height: 100vh;
                padding-top: 2rem;

                @media #{$mq-lg-min} {
                    padding-top: 4rem;
                }

                @media #{$mq-xl-min} {
                    padding-right: 2rem;
                }

                .top {
                    position: relative;

                    @media #{$mq-md-min} {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 1rem;
                        margin-bottom: 0;
                    }

                    @media #{$mq-xl-max} {
                        color: $white;
                    }

                    .bg {
                        position: absolute;
                        z-index: -1;
                        top: -2rem;
                        left: -3rem;
                        width: calc(100% + 6rem);
                        max-width: calc(100% + 6rem);
                        height: calc(100% + 10rem);
                        object-fit: cover;

                        @media #{$mq-md-min} {
                            top: -5rem;
                            height: calc(100% + 15rem);
                        }
    
                        @media #{$mq-xl-min} {
                            display: none;
                        }
                    }

                    .left-inner {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;

                        @media #{$mq-md-min} {
                            gap: .25rem;
                            margin-bottom: 0;
                        }
                    }
                }

                .featured-image {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    margin-block: 2rem var(--smaller);
                    aspect-ratio: 4 / 3;

                    @media #{$mq-md-min} {
                        aspect-ratio: 4 / 2.75;
                    }
                }
            }

            .right-side {
                .wrapper {
                    position: relative;
                    background-color: $pure-white;
                    padding: var(--smaller);
                    margin-top: var(--smaller);

                    @media #{$mq-xl-min} {
                        background-color: transparent;
                        padding: 4rem 0 0 2rem;
                        height: 100%;
                        margin-top: 0;
                    }

                    .bg {
                        @media #{$mq-xl-min} {
                            position: absolute;
                            z-index: 0;
                            top: 0;
                            left: 0;
                            width: calc(100% + 20rem);
                            height: 100%;
                            background-color: $pure-white;
                        }
                    }

                    .image {
                        position: relative;
                        overflow: hidden;
                        display: block;
                        width: 10rem;
                        height: 10rem;
                    }

                    .name {
                        display: block;
                        margin-block-start: 1.5rem;
                    }

                    .title {
                        display: block;
                        margin-block-end: 1.25rem;
                    }

                    .description {
                        margin-block-end: 1.5rem;

                        button {
                            display: block;
                            width: fit-content;
                            margin-block-start: 1rem;
                        }
                    }

                    .website {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        width: fit-content;
                        margin-block-end: 1.5rem;
                        transition: .3s ease-in-out;

                        &:hover,
                        &:focus-visible {
                            color: $green;
                        }

                        img,
                        svg {
                            width: 1rem;
                            min-width: 1rem;
                            height: 1rem;
                        }
                    }

                    .social {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-block-end: 1.5rem;

                        a {
                            display: flex;
                            width: 1rem;
                            min-width: 1rem;
                            height: 1rem;
                            transition: .3s ease-in-out;

                            &:hover,
                            &:focus-visible {
                                color: $green;
                            }

                            img,
                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .button {
                        text-transform: capitalize;
                        border: 1px solid $green;

                        &:hover,
                        &:focus-visible {
                            background-color: $pure-white;
                        }
                    }
                }
            }
        }

        .related {
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                h2 {

                }

                p {

                }
            }

            .grid {
                display: grid;
                gap: .25rem;

                @media #{$mq-md-min} {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media #{$mq-xl-min} {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}