@use '../variables' as *;

#main-content {
    &.store {
        .banner {
            @media #{$mq-lg-min} {
                text-align: center;
            }

            .categories {
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;

                @media #{$mq-lg-min} {
                    align-items: flex-end;
                    justify-content: center;
                    border-bottom: 1px solid $white;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                    flex-wrap: nowrap;
                    gap: 0;
                }

                a {
                    padding: .25rem 1rem;
                    border: 1px solid $white;
                    transition: .2s ease-in-out;

                    @media #{$mq-lg-min} {
                        padding: .25rem 1rem;
                        border: none;
                        border-bottom: .25rem solid transparent;
                    }

                    @media #{$mq-xl-min} {
                        padding: .25rem 2rem;
                    }

                    &.selected,
                    &:hover,
                    &:focus-visible {
                        background-color: $white;
                        color: $green;

                        @media #{$mq-lg-min} {
                            border-bottom-color: $white;
                            background-color: transparent;
                            color: currentColor;
                        }
                    }
                }
            }
        }

        .middle {
            .product-blocks {
                display: grid;
                gap: 1rem;

                @media #{$mq-xs-min} {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media #{$mq-md-min} {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media #{$mq-xl-min} {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
}